{% extends "layout.html" %}
{% import "breadcrumbs.html" as breadcrumbs with context %}

{% block main %}
{{ breadcrumbs.render() }}
<h1>{{ data.page.title }}</h1>
<section class="article-index">
  <header class="article-intro">
    {% area data.page, 'intro' %}
  </header>
  {% component "topic:selector" %}
  <div class="article-list">
    {% for article in data.pieces %}
    <div class="article-list-item__wrapper {{ apos.helper.map(article._topics, 'slug').join(' ') }}">
      <a href="{{ article._url }}" class="article-list-item">
        {% if article._topics.length > 0 %}
        <p class="article-list-item__topics">{{ apos.helper.map(article._topics, "title").join(", ") }}</p>
        {% endif %}
        <p class="article-list-item__title">{{ article.title }}</p>
        {% if article.blurb %}
        <p class="article-list-item__blurb">{{ article.blurb }}</p>
        {% endif %}
        <p class="article-list-item__date">{{ apos.helper.formatDateForHuman(article.publishDate) }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
