{% extends "layout.html" %}
{% import "breadcrumbs.html" as breadcrumbs with context %}

{% set article = data.piece %}

{% block main %}
{{ breadcrumbs.render() }}
<article class="article-show">'
  {% if article._topics.length > 0 %}
  <p class="article-show__topics">{{ apos.helper.map(article._topics, "title").join(", ") }}</p>
  {% endif %}
  <p class="article-show__title">{{ article.title }}</p>
  {% if article.blurb %}
  <p class="article-show__blurb">{{ article.blurb }}</p>
  {% endif %}
  <p class="article-show__date">{{ apos.helper.formatDateForHuman(article.publishDate) }}</p>
  <hr />
  <section class="article-show__main">
    {% area article, 'main' %}
  </section>
</article>
{% endblock %}
