@import '../../../../../lib/_variables';

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h1 {
  font-size: 4em;
  font-weight: 200;
}

hr {
  border: 2px solid black;
  background: black;
}

a {
  color: $color-purple;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:visited {
    color: $color-purple-light;
  }
}

::selection {
  background-color: $color-gold;
}
