version: "2"
services:
  apostrophe:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - ./public/uploads:/app/public/uploads
    env_file: .env
    environment:
      # Adjust for being inside a Docker container
      - APOS_MONGODB_URI=mongodb://host.docker.internal/apos-my-site
