{% extends data.outerLayout %}

{% set title = title if title !== undefined else data.piece.title or data.page.title %}
{% set verticalCenterContent = verticalCenterContent or false %}

<!-- --- --- --- --- --- --- --- -->

{% block title %}
  {% if title %}
    {{ title }} | {{data.global.siteTitle}}
  {% else %}
    {{data.global.siteTitle}}
  {% endif %}
{% endblock %}

<!-- --- --- --- --- --- --- --- -->

{% block startHead %}
<link rel="icon" type="image/png" sizes="16x16" href="/image/favicon/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/image/favicon/favicon-32x32.png">
<link rel="apple-touch-icon" sizes="180x180" href="/image/favicon/apple-touch-icon.png">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?{% for font in apos.helper.getTextFontOptions() %}family={{ font.split(' ').join('+') }}:wght@300;400;500;600;700&{% endfor %}display=swap">
<style>
  .font-demo { font-size: xx-large; }
  {% for font in apos.helper.getTextFontOptions() %} .font-demo--{{ font.split(' ').join('-') }} { font-family: {{ apos.helper.jsonStringify(font) | safe }} } {% endfor %}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
{% endblock %}

<!-- --- --- --- --- --- --- --- -->

{% block beforeMain %}
<div class="main-wrapper {{ 'is-apos-edit' if data.edit }} {{ 'vertical-center-content' if verticalCenterContent }}">
  <!-- Nav Bar Start -->
  <div class="navbar-container">
    <div class="navbar navbar-expand-md navbar-light">
      <div class="container-xl">
        <a href="/" class="navbar-brand">
          <img src="/image/logo/logo-square.png" alt="{{ data.global.siteTitle }}">
          <span>{{ data.global.siteTitle }}</span>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
          <div class="navbar-nav ml-auto">
            {% set _ = apos.helper.lodash() %}
            {% for section in _.filter(data.home.main.items, 'isLinkInNavbar') %}
            {% set href = '#' + apos.util.slugify(section.name) %}
            {# include path part only if not on home, enabling bootstrap scroll-spy on home #}
            {% if data.page.slug !== '/' %}{% set href = '/' + href %}{% endif %}
            <a href="{{ href }}" class="nav-link">{{ section.name }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Nav Bar End -->

  <main>
    {% endblock %}
    {% block afterMain %}
  </main>
</div>
<!-- Footer Start -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer__description col-md-5">
        <h2>{{ data.global.siteTitle }}</h2>
        <p>ECHO English School offers online English lessons for students at every level.</p>
        <p><a href="/#courses">read more →</a></p>
      </div>
      <div class="footer__menu col-md-7">
        <div class="row">
          <div class="col-md-4">
            <h2>About</h2>
            <ul class="list-unstyled">
              <li><a href="/#courses" class="">Courses</a></li>
              <li><a href="/#teacher" class="">Teacher</a></li>
              <li><a href="/#get-started" class="">Get Started</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h2>Contact</h2>
            <ul class="list-unstyled">
              <li><a href="/#contact" class="">Form</a></li>
              <li><a target="_blank" href="mailto:admissions@echoenglishschool.com" class="">Email</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h2>Social</h2>
            <ul class="list-unstyled">
              <li><a target="_blank" href="http://instagram.com/echo_englishschool" class="">Instagram</a></li>
              <li><a target="_blank" href="https://www.facebook.com/echoenghishschool" class="">Facebook</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="footer__copyright col-md-6 text-center text-md-left">
        <p>© {{ data.global.siteTitle }}, All Right Reserved</p>
      </div>
      <div class="footer__legal col-md-6 text-center text-md-right">
        <p>
          <a target="_blank" href="/privacy-policy">Privacy Policy</a>
          <a target="_blank" href="/terms-of-service">Terms of Service</a>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->
{% endblock %}

{% block extraBody %}
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.easing@1.4.1/jquery.easing.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/wow.js@1.2.2/dist/wow.min.js"></script>-->
<script>
  window.isAposLayout = true;
  window.isAposEdit = {{ not not data.edit }};
</script>
{% if apos.helper.isDev() %}
<script>
  window.data = {{ apos.helper.jsonStringify(data) | safe }};
  console.log('window.data =', window.data);
</script>
{% endif %}
{% endblock %}
