{% extends data.outerLayout %}

{% block title %}
  {% set title = title or data.piece.title or data.page.title %}
  {% if title %}
    {{ title }} | {{data.global.siteTitle}}
  {% else %}
    {{data.global.siteTitle}}
  {% endif %}
{% endblock %}

{% block extraHead %}{% endblock %}

{% block beforeMain %}
<div class="bp-wrapper">
  <header class="bp-header">
    <img class="bp-header__logo" src="/images/logo.png" alt="ApostropheCMS logo">
    <nav class="bp-nav"></nav>
    {% if not data.user %}
      <a class="bp-button bp-header__login" href="/login">Login</a>
    {% endif %}
  </header>
  <main class="bp-main">
{% endblock %}

{# This block is overridden by specific page templates #}
{% block main %} {% endblock %}

{% block afterMain %}
  </main>
  <footer class="bp-footer">
    {% if data.global.footerLinks.length %}
      <h3>Links</h3>
      <ul class="bp-footer__links">
        {% for link in data.global.footerLinks %}
          <li>
            {{ apos.helper.getLinkHtml(link, { class: 'footer-links__link' }) | safe }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </footer>
</div>{# Close .bp-wrapper #}
{% endblock %}

{% block afterAposScripts %}{% endblock %}
