.columns-widget {
  & > div {
    & > .apos-area, & > .apos-area > .apos-areas-widgets-list {
      height: 100%;
    }
  }

  & > div.column-content-justify--center {
    & > .apos-area, & > .apos-area > .apos-areas-widgets-list {
      justify-content: center;
    }
  }

  & > div.column-content-justify--start {
    & > .apos-area, & > .apos-area > .apos-areas-widgets-list {
      justify-content: start;
    }
  }

  & > div.column-content-justify--end {
    & > .apos-area, & > .apos-area > .apos-areas-widgets-list {
      justify-content: end;
    }
  }

  & > div.column-content-justify--space-evenly {
    & > .apos-area, & > .apos-area > .apos-areas-widgets-list {
      justify-content: space-evenly;
    }
  }

  & > div.column-content-justify--space-between {
    & > .apos-area, & > .apos-area > .apos-areas-widgets-list {
      justify-content: space-between;
    }
  }

  & > div.column-content-justify--space-around {
    & > .apos-area, & > .apos-area > .apos-areas-widgets-list {
      justify-content: space-around;
    }
  }
}
