@import "../../../../lib/_variables";

.columns-widget {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  .columns-widget__column {
    flex: 1;
  }
}

@media only screen and (max-width: $breakpoint-max-width-xs) {
  .columns-widget {
    flex-direction: column;
    .columns-widget__column {
      width: 100%;
    }
  }
}
